<div id="flash">
  <% flash.each do |key, message| %>
    <div class="mb-4 p-4 rounded <%= key == 'notice' ? 'bg-green-50 text-green-700 border border-green-200' : 'bg-red-50 text-red-700 border border-red-200' %>">
      <%= message %>
    </div>
  <% end %>
</div>
